@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px;
  background: #1F2937;
  color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 25px;
    padding-top: 0;
    padding-bottom: 0;
    gap: 25px;
    margin-right: 80px;
    
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.left-logo  {
    font-size: 24px;
    font-weight: 999;
    margin-left: 100px;
}

.container  {
  display: flex;
  background: #1F2937;
  padding: 30px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.left-box {
  padding-left: 80px;
  padding-right: 70px;
}

.right-box  {
  padding-right: 80px;
}

.hero-text  {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.subtext  {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 12px;
}

button {
  cursor: pointer;
  padding: 7px 30px;
  border-radius: 8px;
}

button.sign-up {
  background: #3882F6;
  border: 1px solid #3882F6;
  color: white;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

img {
  width: 520px;
  height: 250px;
  border-radius: 4px;
}

.container-2  {
  display: flex;
  padding: 30px;
  margin: 0;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.random-info  {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.image-container  {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  
}

.image  {
  border: 4px solid #3882F6;
  border-radius: 8px;
  padding: 80px;
  color: white;
  margin: 5px 25px;
}

.description-container  {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  
}

.description  {
  color: #1F2937;
  margin: 0px 27px;
  background: white;
  width: 165px;
  text-align: center;
}

.container-3  {
  display: flex;
  flex-direction: column;
  background: #E5E7EB;
  padding: 100px 200px;
}

.quote  {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  margin-bottom: 10px;
}

.thor {
  margin-left: 600px;
  font-weight: bold;
  font-size: 22px;
}

.container-4  {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
}

.blue-container {
  display: flex;
  background: #3882F6;
  padding: 50px 140px;
  border-radius: 8px;
  flex-direction: row;
}

.action {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.sign-up-for-our-product  {
  color: #F9FAF8;
  font-size: 18px;
}

button.sign-up-2 {
  background: #3882F6;
  border: 2px solid #F9FAF8;
  color: white;
  margin-left: 160px;
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}

.container-5  {
  display: flex;
  background: #1F2937;
  justify-content: center;
  padding: 40px;
}

.copyright  {
  color: #F9FAF8;
}